<!DOCTYPE HTML>
<html>
	<head>
		<title>App Login via Linkedin</title>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header class="navbar navbar-default" role="banner">
			<div class="container">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">Sample App</a>
				</div>
			</div>
		</header>
		<div class="container">

			<h1>Hello, Log in via Linkedin</h1>
			<a href="/auth/linkedin">Login</a>
		</div>
	</body>
</html>
